<p>
  <strong style="font-size: 14px;">Title:</strong>
  <%= @project.title%>
</p>

<p>
  <strong style="font-size: 14px;">Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Add developer/QA', project_add_user_path(@project.id), class: "btn btn-info", style: "color: white;"  if policy(@project).add_user? %>
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "color: white;" if policy(@project).destroy? %></td> 
<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-success", style: "color: white;" if policy(@project).edit? %>
<%= link_to 'Back', projects_path, class: "btn btn-default", style: "color: black;" %>





<div id="bug-section">
	<% if @project.bugs.count > 0 %>
		<table style="width: 100%; table-layout: fixed; padding-left: 15px; margin-top: 10px;">
		  <thead>
		    <tr style="border: 1px solid #dddddd; padding-bottom: 4px !important;">
		      <th>Title</th>
		      <th>Deadline</th>
		      <th>Screenshot</th>
		      <th>Type</th>
		      <th>Status</th>
		      <th>Assignment</th>
		    </tr>
		  </thead>
		  	<p><%= render @project.bugs  %></p>
		</table>
	<% else %>
		<p style="margin-top: 10px;"><strong>No  Bugs available</strong></p>
	<% end %>
	<% if current_user.user_type == 'qa'%>
		<%= link_to 'New bug', "javascript:void(0)" , id:"bug-link", class: "btn btn-primary"%>
	<% end %>
	<div id="bugsN-section", style="display: none;">
		<% if current_user.user_type == 'qa' %>
			<%= render 'bugs/form' %>
		<% end %>
	</div>
</div>




