<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<%= link_to 'Add developer/QA', project_add_user_path(@project.id)  if policy(@project).add_user? %>
<%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } if policy(@project).destroy? %></td> 
<%= link_to 'Edit', edit_project_path(@project) if policy(@project).edit? %>
<%= link_to 'Back', projects_path %>


<div id="bug-section">
	<div id="bug">
		<h2><%= @project.bugs.count %> Bugs</h2>
		<p><%= render @project.bugs  %></p>
	</div>

	<% if current_user.user_type == "qa" %>

		<h2>Add a new Bug:</h2>	
		<%= render 'bugs/form' %>
	<%end%>	
</div>
